/* ================== RESET ================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ================= TYPOGRAPHY =============== */

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-weight: 700;
}

/* ================  LAYOUT ================== */
body{
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sketch-section {
    width: 420px;
    height: 420px;
    max-width: 420px;
    max-height: 420px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: .5em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid-item{
    /*border: .5px ridge black;*/
}

.option-section {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn {
    padding: .7em;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 1em;
}

.btn:hover, .btn:active {
    background-color: #0090ff;
}
/* =============== CLASS MODIFIERS ============= */
.blank {
    background-color: lightgray;
}

.painted {
    background-color: black;
}


/* ================ MEDIA QUERIES ============= */
@media (max-width: 560px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .sketch-section {
        border: none;
        padding: 0;
        width: 100vw;
        height: 100vw;
    }

    .option-section {
        border: none;
        padding: 0;
        margin-top: 1em;
        background-color: transparent;
    }

    .btn {
        padding: .5em 3em;
        margin-bottom: 1em;
    }
    
}