@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* ================== RESET ================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ================= TYPOGRAPHY =============== */

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-weight: 700;
}

/* ================  LAYOUT ================== */
body{
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.container {
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sketch-section {
    width: 420px;
    height: 420px;
    max-width: 420px;
    max-height: 420px;
    padding: .7em;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
}

.option-section {
    padding-top: .7em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.slider-value {
    text-align: center;
    font-size: .8rem;
}

.btn {
    padding: .7em;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 1em;
}

.btn:hover, .btn:active {
    background-color: blue;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .3rem;
    margin-top: 1.5rem;
}

footer a {
    display: flex;
    align-items: center;
}
/* =============== CLASS MODIFIERS ============= */
.blank {
    background-color: lightgray;
}

.painted {
    background-color: black;
}

.active {
    background-color: blue;
}